@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
 --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}

.dark{
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}

